/* Importar uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Aplicando a fonte Roboto */
  background-color: #f4f4f4; /* Cor de fundo da página */
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 8px;
  background-color: #ffffff; /* Cor de fundo do container */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #4caf50;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

.energy-icon {
  margin-right: 10px;
  font-size: 1.5em;
  color: #4caf50;
}

.equipamentos {
  margin-bottom: 20px;
}

.equipamento-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px; /* Padding para melhorar o espaço */
  border: 1px solid #e0e0e0; /* Borda leve para separar os itens */
  border-radius: 4px;
  background-color: #fafafa; /* Fundo leve para os itens */
  transition: background-color 0.3s; /* Transição suave para o fundo */
}

.equipamento-item:hover {
  background-color: #f0f0f0; /* Mudança de cor ao passar o mouse */
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 1; /* Permitir que o rótulo ocupe o espaço disponível */
}

.custom-checkbox {
  display: none; /* Oculta o checkbox padrão */
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked + .checkbox-custom {
  background-color: #4caf50;
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.3);
  border-color: #4caf50;
}

.custom-checkbox:checked + .checkbox-custom::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.mat-form-field {
  margin-left: 20px; /* Aumentando o espaço entre checkbox e input */
  flex-grow: 1; /* Permitir que o campo ocupe o espaço restante */
}

.btn {
  padding: 10px 15px;
  margin: 10px 5px; /* Aumentando o espaçamento entre os botões */
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d4edda;
  border-radius: 5px;
  background-color: #e2f0d9;
  animation: fadeIn 1s;
}

.resultado {
  margin-top: 20px;
  font-weight: bold;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
